<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="orders-button">
        <ion-button (click)="goToOrdersPage()">
          <ion-icon name="albums-outline"></ion-icon>
        </ion-button>
      </div> <div class="logout-button">
      <ion-button color="danger" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </div>
      <div class="header-title">
        Products
      </div>
      <div class="buy-button">
        <ion-button (click)="goToBuyPage()">
          <ion-icon name="cart-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<!--  <ion-item>-->
<!--    <ion-label>Country</ion-label>-->
<!--    <ion-select value="ro" okText="Okay" cancelText="Dismiss" [(ngModel)]="locale" (ionChange)="refreshProducts()">-->
<!--      <ion-select-option value="ro">Romania</ion-select-option>-->
<!--      <ion-select-option value="de">Germany</ion-select-option>-->
<!--      <ion-select-option value="int">International</ion-select-option>-->
<!--    </ion-select>-->
<!--  </ion-item>-->

  <ion-list>

    <ion-card *ngFor="let product of productList">
      <ion-card-header>
        <ion-card-subtitle>{{ product.category | uppercase }}</ion-card-subtitle>
        <ion-card-title>
          <div class="product-name">
            {{ product.name }}
          </div>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div>
          Country of Origin: {{ product.country }}
        </div>

        <div>
          Stock: {{ product.stock }}
        </div>
      </ion-card-content>

      <div>
        <div class="price">
          Price: {{ product.price }}
        </div>

        <div class="button">
          <ion-button (click)="addProductQuantity(product)">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="removeProductQuantity(product)">
            <ion-icon name="remove-outline"></ion-icon>
          </ion-button>
          <span class="quantity">
            {{ product.quantity }}
          </span>
        </div>
      </div>

    </ion-card>

  </ion-list>

</ion-content>
